{% extends "layoutMail.html.twig" %}

{% block body %}
<main class="text-center">
    <header class="sections__header">
        <h1 class="title">Les Loups du Nord</h1>
    </header>
    <br><br>
    <h3>
        Bonjour {{ name }} Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe
    </h3>
    <br>
    <a href="{{url('user_valid',{'code':code,'mode':mode})}}">
        Réinitialisation du mot de passe
    </a>
    <br><br><img class="img img-fluid w-25" alt="logo" src={{ absolute_url("/images/logo/logo.jpg") }}>
</main>
{% endblock %}
