{% extends "layoutMail.html.twig" %}

{% block body %}
<main class="text-center">
    <header class="sections__header">
        <h1 class="title">Les Loups du Nord</h1>
    </header>
    <br><br>
    <h4>Bonjour {{ name }} Cliquez sur le lien ci-dessous pour valider votre inscription</h4>
    <br><a href="{{url('security_validation',{'code':code})}}">Validation de l'inscription</a>
    <br><br><img class="img img-fluid w-25" alt="logo" src={{ absolute_url("/images/logo/logo.jpg") }}>
</main>
{% endblock %}