{% extends "layout.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block titre %}<h3>Connexion<h3>{% endblock %}
    {% block contenu %}
    <form action="{{path("security_login")}}" method="post">
        <div class="form-group">
            <input placeholder="Adresse Email ..." required name="_username" type="text" class="form-control">
        </div>
        <div class="form-group pt-2">
            <input placeholder="Password ..." required name="_password" type="password" class="form-control">
        </div>
        <div class="row">
            <div class="col-12 text-center pt-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Connexion !</button>           
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12 text-center">
            <button class="link pt-4" type="button" data-toggle="modal" data-target="#motdepasseoublie">
                <i> Mot de passe oublié</i>
            </button>
        </div>
    </div>
    <div id="motdepasseoublie" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog pt-5" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Renseignez votre adresse mail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('user_mdpoublie') }}" method="post">
                        <div class="form-group">
                            <input placeholder="Adresse Email" required name="email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 text-center pt-3">
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block image %}
    <div class="section__img-inner" style="background-image: url(images/photos/chien-connexion.jpg)"></div>
{% endblock %}
