{% extends "layout.html.twig" %}

{% block title %}Inscription{% endblock %}
    {% block titre %}<h3>Inscription</h3>{% endblock %}
    {% block contenu %}
    {{form_start(form)}}
        <div class="row">
            <div class="col-12">
                {{ form_row( form.username, { 'attr':{ 'placeholder':"Saisie nom d'utilisateur" }, 'label':'Nom' } ) }} 
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
            {{ form_row( form.userfirstname, { 'attr':{ 'placeholder':"Saisie prénom d'utilisateur" }, 'label':'Prénom' } ) }} 
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
            {{ form_row( form.email, { 'attr':{ 'placeholder':"Saisie Email" }, 'label':'Email' } ) }} 
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                {{ form_row( form.password, { 'attr':{ 'placeholder':"Votre mot de passe" }, 'label':'Mot de passe' } ) }} 
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                {{ form_row( form.confirm_password, { 'attr':{ 'placeholder':"Confirmez Votre mot de passe" }, 'label':'Confirmation mot de passe' } ) }} 
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Inscription !</button>
            </div>
        </div>
    {{form_end(form)}}
    {% endblock %}
    {% block image %}
        <div class="section__img-inner" style="background-image: url(images/photos/chien-inscription.jpg)"></div>
    {% endblock %}

