{% extends "layout.html.twig" %}

{% block title %}Validation{% endblock %}

{% block titre %}<h3>Connexion<h3>{% endblock %}
    {% block contenu %}

 
  {% if mode=='mdpreinit' %}
    <h3>Veuillez saisir votre ancien mot de passe puis votre nouveau mot de passe deux fois</h3>
  {% else %}
    <h3>Veuillez saisir votre nouveau mot de passe deux fois</h3>
  {% endif %}
  <form action="" method="post" class="form-group">
    {% if mode=='mdpreinit' %}
      <label for="">Votre ancien mot de passe</label>
      <input type="password" name="oldpassword" class="form-control" placeholder="Votre ancien mot de passe">
    {% endif %}
    <label for="">Nouveau Mot de passe</label>
    <input type="password" name="password" class="form-control" placeholder="Mot de passe">
    <label for="">Confirmation Mot de passe</label>
    <input type="password" name="passwordconfirm" class="form-control" placeholder="Confirmation">
    <br>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
{% endblock %}


{% block image %}
    <div class="section__img-inner" style="background-image: url(images/photos/chien-connexion.jpg)"></div>
{% endblock %}
