{% extends "layoutMail.html.twig" %}

{% block body %}
<main class="text-center">
    <header class="sections__header">
        <h1 class="title">Les Loups du Nord</h1>
    </header>
    <br><br>
    <h4>Bonjour, un message a été ajouté ou modifié au livre d'or par {{ message.user.userfirstname }} {{ message.user.username }}</h4>
    <br>
    <h6>Contenu du message :</h6><br>
    <p>{{message.contenu|raw}}</p>
    <br>
    <p>cliquez sur le lien ci-dessous pour valider le message dans le back office</p>
    <br><a href="{{url('home',)}}">Lien vers le site</a>
    <br><br><img class="img img-fluid w-25" alt="logo" src={{ absolute_url("/images/logo/logo.jpg") }}>
</main>
{% endblock %}