{% extends "layout.html.twig" %}

{% block title %}Livre d'or{% endblock %}

{% block titre %}<h1>Livre d'or</h1>{% endblock %}

{% block contenu %}

    <h3>Merci pour vos messages</h3>

    <div class="row" style="min-height: 300px;">
        <div class="col-12">
            <div class="container-custom">
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
                    {% for message in messages %}
                        {% if message.statut or (app.user and message.user.id == app.user.id) %}
                            <div class="bb-item">
                                <div class="content-comment">
                                    <div class="scroller row">
                                        <div class="col-1" style="background-image: url('/images/user/{{message.user.photo}}');background-size: cover;background-position: center;width:50px;height:50px;border-radius:25px;margin-top: 5px;"></div>
                                        <h6 class="col-8 pt-4">{{message.user.userfirstname}} {{message.user.username}}</h6>
                                        <i class="text-seondary pt-1" style="font-size: 12px;padding-left:0;">Ajouté le {{message.createdAt|date('d/m/Y à H:i')}}</i>
                                        <p>{{message.contenu|raw}}</p>
                                    </div>
                                </div>
                                {% if app.user and message.user.id == app.user.id %}
                                    <button id="edit_message" data-toggle="modal" data-target="#MyModalEdit{{message.id}}" class="btn btn-sm btn-primary position-absolute" style="right: 50px;bottom: -50px;">
                                        <i class="fas fa-edit text-light"></i>
                                    </button>
                                    <div class="modal fade" id="MyModalEdit{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="MyModalEditLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-custom" role="document">
                                            <div class="modal-content">
                                            <form action="{{path('edit_message',{'id': message.id})}}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="MyModalEditLabel">Modifier le message</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <textarea rows="3" class="form-control" name="contenu" id="message-text">{{message.contenu}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="delete_message" data-toggle="modal" data-target="#MyModalDelete{{message.id}}" class="btn btn-sm btn-danger position-absolute" style="right: 0px; bottom: -50px;">
                                        <i class="fas fa-trash-alt text-light"></i>
                                    </button>
                                    <div class="modal fade" id="MyModalDelete{{message.id}}" tabindex="-1" role="dialog" aria-labelledby="MyModalDeleteLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-custom" role="document">
                                            <div class="modal-content">
                                            <form action="{{path('delete_message',{'id': message.id})}}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="MyModalDeleteLabel">Modifier le message</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4>êtes vous sur de vouloir supprimer votre message ?</h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
				</div>
                <nav>
                    <span id="bb-nav-prev">&larr;</span>
                    <span id="bb-nav-next">&rarr;</span>
                </nav>
                <br><br>
                <h4 class=" pt-4">Laissez nous un petit mot</h4>
                
                {% if app.user %}  
                    {{form_start(form,{'action':path('new_message',{'id':livreOr.id})})}}
                        <div class="row">
                            <div class="col-12">
                                {{ form_row( form.contenu, { 'attr':{ 'placeholder':"Contenu de votre message", 'class' : 'form-control' }, 'label':'Message' } ) }}
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12 justify-content-end">
                                <button type="submit" class="btn btn-primary float-right">
                                    Ajouter
                                </button>
                            </div>
                        </div>
                    {{form_end(form)}}
                {% else %}
                    <br>
                    <h4>Pour nous envoyer un message vous devez vous connecter</h4>
                    <div class="row pt-4">
                        <div class="col-12 justify-content-end">
                            <a class="btn btn-primary float-right" href="{{path('security_login')}}">Connexion</a>
                        </div>
                    </div>
                    <br>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block image %}
    <div class="section__img-inner" style="background-image: url(images/livre/chien-livre.jpg)"></div>
{% endblock %}
