*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Colors */
	--color-text: #000;
	--color-bg-main: #fff;
	--color-menu-item: #fff;
	--color-menu-item-hover: #e0f3ca;
	--color-bg-menu: #cbf3ee;
	--color-bg-facts: #000;
	--color-text-facts: #fff;
	--color-bg-img: #000;
	--color-bg-more-1: #fee9b1;
	--color-bg-more-2: #e0f3ca;
	--color-bg-more-3: #f3cae8;
	--color-bg-more-4: #cacaf3;
	--color-nav: #ddd;
	--color-nav-hover: #000;
	--color-link: #000;
	--color-link-hover: #333;
	
	
    --color-bg: #e8e8e8;
    --color-info: #272526;
    --grid-item-bg: #f1f1f1;

	background-image: url('../images/bg-2.png');
	background-size: cover;
	height: 100vh;
}

.modal-backdrop {
	z-index: 99 !important;
}

@media (min-width: 576px){
	.modal-dialog-custom {
		max-width: none !important; 
		margin: auto !important; 
	}
}

.float-right{
	float: right;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg-main);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	opacity: 0;
	background: var(--color-text);
	animation: loaderAnim 0.8s ease-in infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1) rotate(90deg);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

button {
	border: 0;
	background: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	cursor: pointer;
	-webkit-appearance: none;
}

button:focus {
	outline: none;
}

/* Codrops links */
.codrops-links {
	position: relative;
	z-index: 1000;
	display: flex;
	margin: 2rem 1.5rem;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.25rem;
}

.codrops-icon .icon {
	width: 1.5rem;
	height: 1.5rem;
}

/* Icons */
.icon {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}

.sections__header {
	padding: 2rem 3rem 0 2rem;
	display: flex;
}

.title {
	text-transform: lowercase;
	font-size: 1.35rem;
	margin: 0;
}

.menu {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 3000;
	display: grid;
	grid-template-columns: 100%;
	pointer-events: none;
	align-items: start;
}

.menu::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	right: 0;
	transition: opacity 0.3s;
	pointer-events: none;
	opacity: 0;
}

.menu--open::before {
	opacity: 1;
	pointer-events: auto;
}

.menu__inner {
	padding: 4rem 2rem 0 0;
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	opacity: 1;
	position: relative;
	text-align: right;
}

.menu__toggle {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2.3rem 2rem;
	display: grid;
	grid-template: 100% / 100%;
	pointer-events: auto;
	cursor: pointer;
}

.menu__toggle-inner {
	display: block;
	grid-area: 1 / 1 / 1 / 1;
}

.menu__toggle-inner--close {
	opacity: 0;
	color: var(--color-menu-item);;
}

.menu__item {
	font-size: 2.25rem;
	margin: 0 0 1.5rem;
	font-weight: bold;
	opacity: 0;
}

.menu--open .menu__item {
	pointer-events: auto;
}

.menu__item-link {
	color: var(--color-menu-item);
}

.menu__item-link:hover {
	color: var(--color-menu-item-hover);
}

.sections__index,
.sections__nav {
	display: none;
}

.facts {
	display: none;
}

.section__content {
	padding: 2rem;
}

.section__title {
	font-size: 10vw;
	text-transform: lowercase;
	margin: 0;
	letter-spacing: -0.35vw;
	position: relative;
	overflow: hidden;
}

.section__title span {
	display: inline-block;
}

.section__description {
	line-height: 1.75;
	overflow: hidden;
	position: relative;
	padding: 0 2rem 0 0;
	font-weight: 300;
}

.section__description-inner {
	display: block;
}

.section__img {
	height: 45vh;
	pointer-events: none;
}

.section__img-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.section__facts {
	padding: 2rem;
	margin: 0;
	list-style: none;
	background: var(--color-bg-facts);
	color: var(--color-text-facts);
}

.section__facts-item {
	margin: 0 0 2.5rem 0;
}

.section__facts-img {
	max-width: 200px;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	margin: 4rem 0 2rem 0;
	position: relative;
}

.section__facts-img::before,
.section__facts-img::after {
	content: '';
	width: 100%;
	height: 100%;
	background: #2f2f2f;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.section__facts-img::before {
	transform: rotate(3deg);
}

.section__facts-img::after {
	transform: rotate(-5deg);
}

.section__facts-img img {
	max-width: none;
	width: 100%;
}
.icon--grid {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.5rem;
	height: 1.5rem;
	margin: -0.75rem 0 0 -0.75rem;
}

.section__facts-title {
	font-size: 1em;
	margin: 0 0 0.5rem;
}

.section__facts-detail {
	font-weight: 300;
}

.section__facts-item--clickable {
	display: none;
}

.section__gallery {
	grid-area: 1 / 4 / 4 / 2;
	padding: 2rem;
	display: grid;
	grid-gap: 0.75rem;
	grid-template-columns: 50% 50%;
	grid-template-rows: 2rem 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	z-index: 300;
	pointer-events: none;
	height: 100vh;
	background: var(--color-bg-facts);
}

.section__gallery-item {
	width: 100%;
	height: 100%;
	display: grid;
}

.section__gallery-item--title {
	grid-area: 1 / 1 / 2 / 3;
	color: #fff;
	font-size: 1em;
	margin: 0;
}

.section__gallery-item img {
	max-width: 100%;
	max-height: 100%;
	margin: auto 0;
	display: block;
} 

.section__more {
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.section__more-index {
	position: absolute;
    top: 85%;
    left: 76%;
}


@media screen and (min-width: 1120px) {
	.section__more-index {
		top: 91%;
		left: 76%;
	}
}

@media screen and (min-width: 1320px) {
	.section__more-index {
		top: 90%;
		left: 76%;
	}
}

@media screen and (min-width: 1499px) {
	.section__more-index {
		position: absolute;
		top: 87%;
		left: 82%;
	}
}

@media screen and (min-width: 1699px) {
	.section__more-index {
		position: absolute;
		top: 87%;
		left: 80%;
	}
}

@media screen and (max-width: 1150px) {
	.section__more-index {
		display:none
	}
}


.section__more-inner {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.section__more-inner_index {
	align-items: flex-end !important;
	padding-right: 30px !important;
	
}

.section__more-inner--bg1 {
	background-color: var(--color-bg-more-1);
}

.section__more-inner--bg2 {
	background-color: var(--color-bg-more-2);
}

.section__more-inner--bg3 {
	background-color: var(--color-bg-more-3);
}

.section__more-inner--bg4 {
	background-color: var(--color-bg-more-4);
}

.section__more-text {
	font-weight: bold;
	display: block;
	margin: 0 0 1rem 0;
}

.section__more-link {
	display: flex;
	cursor: pointer;
	font-weight: 300;
}

.section__more-linktext {
	margin: 0 0.5rem 0 0;
	line-height: 1;
}

.icon--arrowlong {
	width: 2rem;
	height: 1.25rem;
}

@media screen and (min-width: 55em) and (min-height: 40em) {
	.sections {
		height: 100vh;
		overflow: hidden;
		display: grid;
		grid-template-columns: 45% 55%;
		grid-template-rows: 6rem calc(30% - 2rem) calc(44% - 2rem) calc(26% - 2rem);
		grid-template-areas: 	"header expander"
								"sections-index expander"
								"... expander"
								"sections-nav expander";
	}
	.sections-nav-index{
		height: auto !important;
	}
	.codrops-links {
		position: absolute;
		top: 0;
		right: 0;
	}
	.sections--factsopen .codrops-links {
		opacity: 0;
		pointer-events: none;
	}
	.codrops-icon {
		color: #fff;
	}
	.menu {
		grid-template-columns: 47% 53%;
	}
	.menu-nav{
		grid-template-columns: 100% !important;
	}
	.menu__toggle {
		right: 53%;
		margin: 2.3rem 4rem 0 0;
	}
	.menu__toggle-nav{
		right : 0 !important;
	}
	.menu__inner {
		padding: 4rem 4rem 0 0;
	}
	.facts {
		position: relative;
		grid-area: expander;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		pointer-events: none;
		z-index: 200;
	}
	.facts__toggle {
		font-weight: bold;
		cursor: pointer;
		width: 48%;
		padding: 0 0 0 5vw;
		margin: 0 0 0 2vw;
		height: 5rem;
		position: relative;
		display: grid;
		grid-template: 100% / 100%;
		color: var(--color-text-facts);
		pointer-events: auto;
	}
	.facts__toggle:hover {
		opacity: 0.6;
	}
	.facts__toggle-inner {
		text-transform: uppercase;
		font-size: 0.6rem;
		letter-spacing: 0.25rem;
		grid-area: 1 / 1 / 1 / 1;
		display: flex;
	}
	.facts__toggle-inner--less {
		opacity: 0;
	}
	.facts__toggle-text {
		line-height: 1.75;
		margin: 0 0 0 0.25rem;
	}
	.button-contentclose {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2rem;
		opacity: 0;
		pointer-events: none;
		color: var(--color-text-facts);
	}
	.sections__header {
		grid-area: header;
	}
	.sections__index {
		font-weight: bold;
		font-size: 0.75rem;
		display: block;
		align-self: end;
		padding: 0 4rem 3rem 20%;
		grid-area: sections-index;
		display: flex;
		z-index: 1;
	}
	.sections__index-current {
		position: relative;
		overflow: hidden;
	}
	.sections__index-total {
		position: relative;
		margin: 0 0 0 8rem;
	}
	.sections__index-total::after {
		content: '';
		position: absolute;
		width: 6rem;
		height: 3px;
		top: calc(50% - 1.5px);
		right: calc(100% + 1rem);
		background: #000;
	}
	.sections__index-inner {
		display: block;
		width: 1.15rem;
	}
	.sections__nav {
		display: block;
		grid-area: sections-nav;
		z-index: 5;
		padding: 2rem 4rem 0;
		background: linear-gradient(0deg, #ffffff 90%, rgba(255,255,255,0));
	}
	.sections__nav-item {
		border: 2px solid var(--color-nav);
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		background: var(--color-bg-main);
	}
	.sections__nav-item:hover {
		border-color: var(--color-nav-hover);
	}
	.sections__nav-item .icon {
		width: 100%;
		height: 100%;
	}
	.section {
		pointer-events: none;
		grid-area: 1 / 1 / 5 / 4;
		display: grid;
		grid-template-columns: 47% 25% 28%;
		grid-template-rows: 39% 39% 22%;
		grid-template-areas: 	"... slide-image slide-image"
								"slide-content slide-image slide-image"
								"... ... more";
	}
	.section-layout {
		grid-template-rows: 20% 49% 35% 22% !important;
	}
	.section-layout-index {
		grid-template-rows: 8% 92% !important;
	}
	.section-nav {
		grid-template-columns: 100% !important;
	}
	.section--current {
		pointer-events: auto;
	}
	.section__content {
		padding: 0 4rem;
		grid-area: slide-content;
	}
	.section__expander {
		grid-area: 1 / 2 / 4 / 4;
		background: var(--color-bg-facts);
		transform-origin: 0 0;
		left: -2vw;
		position: relative;
		z-index: 100;
	}
	.section__img {
		height: auto;
		grid-area: slide-image;
		overflow: hidden;
		z-index: 99;
	}
	.section:fist-of-type .section__img {
		background: var(--color-bg-img);
	}
	.section__facts-item--clickable {
		display: block;
	}
	.section__gallery {
		grid-template-columns: repeat(2, calc(200px + 2rem));
		grid-gap: 1rem;
		padding: 10vh 5vw;
		background: transparent;
		position: relative;
	}
	.section__gallery-item {
		padding: 0 0 0 1rem;
		opacity: 0;
	}
	.section__more {
		grid-area: more;
	}
	.section__facts {
		padding: 10vh 5vw;
		pointer-events: none;
		background: transparent;
		position: relative;
		z-index: 200;
		grid-area: 1 / 2 / 4 / 3;
	}
	.section__facts-detail {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.section__more-inner {
		padding: 0;
	}
	.sections--factsopen .sections__nav,
	.sections--factsopen .section__facts-item--clickable .section__facts-img,
	.sections--factsopen .facts__toggle {
		pointer-events: none;
	}
	.sections--factsopen .button-contentclose,
	.section--current .section__facts-item--clickable,
	.sections--factsopen .section__gallery-item {
		pointer-events: auto;
	}
	.js .section:not(.section--current) {
		pointer-events: none;
	}
	.js .section:not(.section--current) .section__title span,
	.js .section:not(.section--current) .section__description,
	.js .section:not(.section--current) .section__img-inner,
	.js .section:not(.section--current) .section__more-inner,
	.js .section:not(.section--current) .section__more-text,
	.js .section:not(.section--current) .section__more-link,
	.js .section:not(.section--current) .section__facts-item {
		opacity: 0;
	}
}

.font-size-08{
	font-size: 0.8em !important;
}

@media screen and (max-width: 54.9em), screen and (max-height: 39.9em) {
	.js .section__title span,
	.js .section__description,
	.js .section__img-inner,
	.js .section__more-inner,
	.js .section__more-text,
	.js .section__more-link,
	.js .section__facts-item,
	.js .section__gallery-item {
		opacity: 1 !important;
		transform: none !important;
	}
	.codrops-icon .icon {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: 2px solid;
		padding: 0.5rem;
	}
}

/**************************** AUTRE TEMPLATE ***************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.frame {
	position: relative;
	padding: 1.5rem 2.5rem;
}

.frame a:hover {
	color: #4c33f7;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	text-align: center;
	font-size: 1rem;
}

.codrops-header__title {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	margin: 0.15em 0.15em 0.15em 0.5em;
	padding: 0.25em;
}

.title {
	text-align: center;
}

.title__name,
.title__sub {
	font-weight: normal;
	margin: 0;
	font-size: 1rem;
}

.title__sub {
	position: relative;
	margin: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.grid-wrap {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	padding: 2rem 1rem 0;
}

.grid-wrap--hidden {
	height: 0;
	overflow: hidden;
}

.grid {
	margin: 0 auto;
	position: relative;
	display: none;
}

.js .grid {
	display: block;
}

.grid__item {
	width: 260px;
	position: relative;
	padding: 2.75rem;
	margin-bottom: 5rem;
}

.grid__item-wrap {
	position: relative;
}

.grid__item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--grid-item-bg);
}

.grid__item-img {
	pointer-events: none;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	outline: 1px solid transparent;
}

.grid__item:nth-child(even) .grid__item-img {
	transform: rotate3d(0,0,1,4deg);
}

.grid__item:nth-child(odd) .grid__item-img {
	transform: rotate3d(0,0,1,-4deg);
}

.grid__item-title {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 1rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	transform-origin: 0 50%;
}

.grid__item-number {
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2.65rem;
	margin: 0 0 0.15rem;
}

.grid__item-number > span {
	display: inline-block;
}

.content-grid {
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.content-grid {
	pointer-events: none;
}

.js .content {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.content__item {
	padding: 10rem 5vw 10rem;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
}

.js .content__item--current {
	height: auto;
	opacity: 1;
	padding: 3rem 5vw 10rem;
	pointer-events: auto;
}

.content__item-intro {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
}

.content__item-img {
	position: relative;
	height: auto;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
	visibility: hidden;
}

.content__item-title {
	position: relative;
	font-size: 7vw;
	line-height: 1;
	text-align: center;
	margin: 0;
	padding: 0 5vw;
	white-space: nowrap;
	grid-area: 1 / 1 / 1 / 1;
}

.content__item-title > span {
	white-space: pre;
	display: inline-block;
	text-shadow: #ffffff 1px 0 10px;
}

.content__item-subtitle {
	text-align: center;
	font-size: 1.25rem;
	font-weight: normal;
	margin: 3rem auto;
}

.content__item-text {
	text-align: justify;
	max-width: 800px;
	margin: 0 auto;
}

.content__item-text p {
	margin: 0;
}

.content__close {
	position: absolute;
	top: 0.75rem;
	left: 50%;
	z-index: 10000;
	transform: translateX(-50%);
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: var(--color-text);
}

.content__close:focus {
	outline: none;
}

.content__item--current ~ .content__close {
	pointer-events: auto;
}

.content__indicator {
	position: absolute;
	top: calc(100vh - 2rem);
	left: calc(50% - 0.75rem);
	display: none;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
	opacity: 0;
}

@media screen and (min-width: 55em) {
	.frame {
		display: grid;
		align-items: start;
		justify-items: start;
		grid-template-columns: 40% 60%;
		grid-template-areas: 'title header';
	}
	.codrops-header {
		grid-area: header;
		justify-self: end;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		align-items: center;
		text-align: left;
	}
	.codrops-links {
		margin: 0 0 0 1.5rem;
	}
	.title {
		grid-area: title;
		display: flex;
		text-align: left;
	}
	.title__sub {
		position: relative;
		padding: 0 0 0 5rem;
		margin: 0 0 0 1rem;
	}
	.title__sub::before {
		content: '';
		height: 1px;
		width: 4rem;
		background: currentColor;
		position: absolute;
		top: 0.65rem;
		left: 0;
	}
	.title__sub-works {
		display: block;
	}
	.grid__item-number {
		right: -2.45rem;
	}
	.grid__item-title {
		margin-left: -0.25rem;
	}
	.content__item-subtitle {
		font-size: 3vw;
	}
	.content__item-text {
  		column-count: 2;
  		column-gap: 20px;
  	}
	.content__item-img {
		max-width: none;
		height: calc(100vh - 6rem);
	}
	.content__item-subtitle {
		max-width: 50%;
	}
	.content__indicator {
		display: block;
	}
}

.icon--caret{
	color : #000 !important;
	transform: matrix(3, 0, 0, 3, 0, 0) !important;
	
}

/**************************/
/********CARD************/
/**********************/

#container{
	box-shadow: 0 10px 20px -5px rgb(7 7 7);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	/*margin: 5em auto;*/
	height: 300px;
  
	
}

.border-bottom-custom li{
	border-bottom: thin solid #868686;
}



.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 55%;

}

#container .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 30px;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}

.absolute-bottom {
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
}

.astuce{
    font-size: 0.4em;
}

.description {
    border-top: 0.0625rem solid #e3dddd;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
}


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


#container .product-details > p {
	text-align: center;
	font-size: 18px;
	
}
.control{
	position: absolute;
	bottom: 10%;
	/* left: 22.8%; */
	
}
.btn-custom {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #fee9b1;
	/* border-radius: 5px; */
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: rgb(0, 0, 0);
	padding: 0;
	margin: 0;
	
}

.btn-custom:hover{transform: translateY(-6px);
	background: #fde194;
color:black;}

.btn-custom span {
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn-custom .price, .shopping-cart{
	background: rgb(0, 0, 0);
	border: 0;
	margin: 0;
}

.btn-custom .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn-custom .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: rgb(0, 0, 0);
	z-index: 1;
  left: 0;
  top: 0;
}

.btn-custom .buy {z-index: 3; font-weight: bolder;}

.btn-custom:hover .price {transform: translateX(-110%);}

.btn-custom:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 40%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}


/*******************************************/
/***************Annonce*********************/
/*******************************************/

.product-image-custom img {
    height: 52vh;
}

.product-image-custom img, .image-list img {
    width: 100%;
}
.product-image-custom img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

	.product-image-custom {
	display: none;
	}

	.image-list
	li {
		margin: 0;
	}

	.product-image-custom {
		display: block;
	}
	.product-image-customimg {
		height: 52vh;
	}

	.product-image-custom img:active {
		display: block;
		margin: 0 0 0.75rem 0;
	}
	
	.image-list li {
		margin: 0 0.75rem 0 0;
		flex-basis: 100%;
	}
	.image-list li:nth-child(3) {
		margin: 0;
	}

	.image-list {
		display: flex;
		overflow: hidden;
		padding: 0;
		margin: 0;
		list-style: none !important;
	}



	.image-list	img {
		height: 10rem;
		width: 100%;
		transition: opacity 0.3s ease;
		cursor: pointer;
	}

	.image-list	img:hover {
		opacity: 0.7;
	}

	nav ul {
		justify-content: flex-end;
	}

	.toggle-nav {
		display: none;
	}

	.flex-nav {
		display: block;
	}
	.flex-nav ul {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: flex-end;
	}
	.flex-nav ul li {
		font-size: 1.125rem;
		margin: 0 1.5rem 0 0;
	}
	.flex-nav ul li:nth-child(4) {
		margin: 0;
	}

	@keyframes fadeImg {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}