{% extends "layoutMail.html.twig" %}

{% block body %}
<main class="text-center">
    <header class="sections__header">
        <h1 class="title">Les Loups du Nord</h1>
    </header>
    <br><br>
    <p>
        {{ message }}
    </p>
    <br><a href="{{url('home',)}}">Lien vers le site</a>
    <br><br><img class="img img-fluid w-25" alt="logo" src={{ absolute_url("/images/logo/logo.jpg") }}>
</main>
{% endblock %}