{% extends "navbar.html.twig" %}

{% block title %}Nos annonces{% endblock %}

{% block titre %}<h1>Nos annonces</h1>{% endblock %}

{% block contenu %}
<div class="container">
    <h2>Toutes nos Annonces</h2>
    {% for annonce in pagination %}
        {% if annonce.statut %}        
        <div id="container" class="mt-4">
            <div class="product-details">
                <h1>{{annonce.titre}}</h1>
                <br>
                <span class="hint-star star pt-4">
                    <i class="text-secondary">Créée le {{annonce.createdAt|date('d/m/Y')}}</i>
                </span>
                <p class="information pt-2">{{annonce.description|raw}}</p>
                <div class="control">
                    <button class="btn-custom">
                        <span class="price text-white"><i class="fas fa-angle-right  text-white" aria-hidden="true"></i></span>
                        <span class="shopping-cart"><i class="fas fa-angle-double-right text-white" aria-hidden="true"></i></span>
                        <a href="{{ path("annonce_show", {'id' : annonce.id})}}"><span class="buy">Consulter</span></a> 
                    </button>
                </div>
            </div>
            <div class="product-image">
                <img src="../images/photos/{{annonce.photos[0].nom}}" alt="photos de l'annonce">
                <div class="info m-0">
                    <h2>Détail</h2>
                    <ul>
                        <li><strong>Catégorie : </strong>{{annonce.categorieAnnonce}}</li>
                        <li><strong>Disponibilité des chiens : </strong>{{annonce.dispoAt|date("d/m/Y")}}</li>
                        <li><strong>Nombre de chiens : </strong>{{annonce.animals|length}}</li>
                        <li><strong>Prix par chien : </strong>{{annonce.prix}} €</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <div class="navigation pt-4 border-bottom-custom ">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div>
        Nombre d'annonces : {{ pagination.getTotalItemCount }}
    </div>
</div>
{% endblock %}
