{% extends "navbar.html.twig" %}

{% block title %}{{annonce.titre}}{% endblock %}

{% block titre %}<h1>{{annonce.titre}}</h1>{% endblock %}

{% block contenu %}
<div class="container">  
    <i class="fas fa-long-arrow-alt-left"></i>&nbsp;<a href="{{path('annonce')}}"><i>Revenir aux annonces</i></a> 
</div>
<div class="container pt-4">
    <div class="row product">
        <div class="col-sm-12 col-md-7">
            <div class="product-gallery">
                <div class="product-image-custom">
                    <img class="active img" src="/images/photos/{{annonce.photos[0].nom}}">
                </div>
                <ul class="image-list pt-3">
                    {% for photo in annonce.photos %}
                        {% if loop.index is not divisible by(3) %} 
                            <li class="image-item"><img class="img img-fluid" src="/images/photos/{{photo.nom}}"></li>
                            {% else %}
                                <li class="image-item"><img class="img img-fluid" src="/images/photos/{{photo.nom}}"></li>
                            </ul>
                            <ul class="image-list pt-3">
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <h1>{{annonce.titre}}</h1>
            <h2>{{annonce.prix}} €</h2>
            <div class="description">
                <p>{{annonce.description|raw}}</p>
            </div>
            <button data-toggle="modal" data-target="#MyModal" class="btn btn-primary">Contacter l'élevage</button>
            <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="MyModalEditLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <form action="{{path('contact', {'id': annonce.id})}}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="MyModalEditLabel">Contacter {{annonce.elevage.nom}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                
                            </p>
                            <div class="form-group">
                                <textarea rows="7" class="form-control" name="contenu" id="message-text">Bonjour,
Je souhaiterez avoir des informations sur l'annonce : {{ annonce.titre }}, vous pouvez me contacter par mail : {{ app.user.email }} {% if app.user.numero %}ou par téléphone au {{ app.user.numero }}{% endif %}.
Bien cordialement
{{app.user.userfirstname}} {{app.user.username}}
                                </textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const activeImage = document.querySelector(".product-image-custom .active");
    const productImages = document.querySelectorAll(".image-list img");

    function changeImage(e) {
        activeImage.src = e.target.src;
    }

    productImages.forEach(image => image.addEventListener("click", changeImage));

</script>
{% endblock %}
