{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue sur le BackOffice ' %}

{% block page_content %}
    
<h3>Tableau de bord</h3>
<div class="container">
    <div class="row">
        <div class="col-6 alert-info">
            <span class="display-4">Utilisateurs</span>
        </div>
        <div class="col-6 alert-success">
            <span class="display-4">{{nbUser}}</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{user.email}} &nbsp;&nbsp;
                    <span class="badge badge-primary badge-pill">{{user.username}}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
