{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}

    <br>
    <nav class="nav">
        <li class="nav-item">
            <a class="nav-link " href="{{path('user_index')}}">Gestion Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " target="_blank"  href="{{path('admin')}}">Easy Admin</a>
        </li>
    </nav>

{% endblock %}
