{% extends "navbar.html.twig" %}

{% block title %}Nos chiens{% endblock %}

{% block titre %}<h1>Nos chiens</h1>{% endblock %}

{% block contenu %}
    <div class="container">
        <h2>Tous nos Chiens</h2>
    </div>
    <div class="grid-wrap">
        <div class="grid">
            {% for animal in pagination %}
                <a href="#" class="grid__item pr-4">
                    <div class="grid__item-bg"></div>
                    <div class="grid__item-wrap">
                        <img class="grid__item-img" src="images/photos/{{animal.photos[0].nom}}" alt="{{animal.nom}}" />
                    </div>
                    <h6 class="grid__item-title">{{animal.nom}}</h6>
                    <h5 class="grid__item-number">{{animal.race.nom}}</h5>
                </a>
            {% endfor %}
            <div class="navigation border-bottom-custom absolute-bottom">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div>
                Nombre d'annonces : {{ pagination.getTotalItemCount }}
            </div>
        </div>
    </div><!-- /grid-wrap -->
    <div class="content content-grid">
        {% for animal in pagination %}
            <div class="content__item">
            <div class="content__item-intro">
                <img class="content__item-img" src="images/photos/{{animal.photos[0].nom}}" alt="{{animal.nom}}" />
                <h2 class="content__item-title">{{animal.nom}}</h2>
            </div>
            <h6 class="content__item-subtitle">{{animal.race.nom}}</h6>
            <div class="content__item-text">
                <p>{{animal.description|raw}}</p>
                {% for key, photo in animal.photos %}
                    {% if key != 0 %}
                        <p>
                            <img class="grid__item-img" src="images/photos/{{photo.nom}}" alt="{{animal.nom}}" />
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div><!-- /content__item -->
        {% endfor %}
        <button class="content__close"><b>Fermer</b></button>
        <svg class="content__indicator icon icon--caret"><use xlink:href="#icon-caret"></use></svg>
    </div>

    <div class="section__more section__more-index">
        <div class="section__more-inner section__more-inner_index">
            <span class="section__more-text text-light">Vous voulez en savoir plus ?</span>
            <a href="{{path("elevage")}}" class="section__more-link">
                <span class="section__more-linktext text-light">Venez découvrir notre élevage</span>
                <svg class="icon icon--arrowlong text-light"><use xlink:href="#icon-arrowlong"></use></svg>
            </a>
        </div>
    </div>
    
{% endblock %}
