<div class="messages">
    {% set top = 10 %}
       {% for type, messages in app.flashes %}
           {% for message in messages %}
               <div class="alert alert-{{ type }} alert-dismissible fade show" style="position: fixed;right: 25%;z-index: 9999;top: {{top}}px;left: 25%;" role="alert">
                   <button type="button" class="close" data-dismiss="alert">
                       <span aria-hidden="true">&times;</span>
                   </button>
                   {{ message|raw}}
               </div>
               {% set top = top + 100 %}
           {% endfor %}
       {% endfor %}
</div>
  