    {% if articles is defined and articles|length>0 %}
        <h6>{{app.user.username}}, voici vos créations</h6>
        <ul class="list-unstyled">
            {% for article in articles %}
            <li>
                {{article.title}}:               
                <span class="badge badge-pill badge-primary">
                    {{article.Count_user_id}} 
                </span>
            </li> 
            {% endfor %}
        </ul>
    {% else %}
        <h6>{{app.user.username}} vous n'avez pas encore créé d'articles</h6>
    {% endif %}   

