{% extends 'base.html.twig' %}

{% block title %}Les Loups du Nord{% endblock %}

{% block body %}
    <main>
        <div class="sections">
            <header class="sections__header">
                <h1 class="title"><a href="{{path('home')}}">Les Loups du Nord</a></h1>
            </header>
            <!-- menu -->
            <nav class="menu">
                {% include '_menu.html.twig' with { 'nav' : false } %}
            </nav>
            <!-- facts expander with toggles; content for each is in its section -->
            <div class="facts">
                <div class="facts__toggle">
                    <span class="facts__toggle-inner facts__toggle-inner--more">
                        <svg class="icon icon--dot"><use xlink:href="#icon-dot"></use></svg>
                        <span class="facts__toggle-text">Voir plus</span>
                    </span>
                    <span class="facts__toggle-inner facts__toggle-inner--less">
                        <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
                        <span class="facts__toggle-text">Voir moins</span>
                    </span>
                </div>
                <button class="button-contentclose">
                    <svg class="icon icon--close"><use xlink:href="#icon-close"></use></svg>
                </button>
            </div>
        <!-- index -->
        <div class="sections__index">
            <span class="sections__index-current">
                <span class="sections__index-inner">01</span>
            </span>
            <span class="sections__index-total">0{{projets|length}}</span>
        </div>
        <!-- navigation down -->
        <nav class="sections__nav">
            <button class="sections__nav-item sections__nav-item--prev">
                <svg class="icon icon--navup"><use xlink:href="#icon-navup"></use></svg>
            </button>
            <button class="sections__nav-item sections__nav-item--next">
                <svg class="icon icon--navdown"><use xlink:href="#icon-navdown"></use></svg>
            </button>
        </nav>
        <!-- sections -->
        {% for projet in projets %}
            <section class="section {% if loop.index == 1 %} section--current {% endif %}">
                <div class="section__content">
                    <h2 class="section__title">{{projet.name}}</h2>
                    <p class="section__description">
                        <span class="section__description-inner">
                            {{projet.description|raw}}
                        </span>
                    </p>
                </div>
                <div class="section__img">
                    <div class="section__img-inner" style="background-image: url(images/photos/{{projet.image}})"></div>
                </div>
                {% include '_expander.html.twig' with { 'params' : 'notre élévage', 'bg' : loop.index, 'path' : 'elevage'} %}
            </section>
        {% endfor %}
        <!--/ section -->
    </div><!--/ sections -->
</main>
 
{% endblock %}
