{% extends "layout.html.twig" %}

{% block title %}Elevage{% endblock %}
{% block titre %}<h1>Élevage</h1>{% endblock %}

{% block contenu %}

    <h3>{{elevages[0].nom }}</h3>

    <div class="row">
        <div class="col-12">
            {{ elevages[0].presentation|raw }}
        </div>
    </div>
{% endblock %}

{% block image %}
    <div class="section__img-inner" style="background-image: url(images/photos/{{elevages[0].photos[0] }})"></div>
{% endblock %}