<div class="section__more">
    <div class="section__more-inner section__more-inner--bg{{bg}}">
        <span class="section__more-text">Vous voulez en savoir plus ?</span>
        <a  href="{{ path(path) }}" class="section__more-link">
            <span class="section__more-linktext">Venez découvrir {{params}}</span>
            <svg class="icon icon--arrowlong"><use xlink:href="#icon-arrowlong"></use></svg>
        </a>
    </div>
</div>
<div class="section__expander"></div>
<ul class="section__facts">
    <li class="section__facts-item">
        <h3 class="section__facts-title text-secondary">Élevage situé en Bretagne</h3>
        <span class="section__facts-detail">Rue du Bois du Château,<br> 56100 Lorient</span>
    </li>
    <li class="section__facts-item">
        <h3 class="section__facts-title text-secondary">Contactez Nous</h3>
        <span class="section__facts-detail">
            <i class="far fa-envelope"></i> contact[at]lldn.com <br>
            <i class="fas fa-phone"></i> 02 50 00 00 00
        </span>
    </li>
    <li class="section__facts-item">
        <h3 class="section__facts-title text-secondary">Suivez nous !</h3>
        <span class="section__facts-detail">
            <a href="https://www.facebook.com/" class="text-light"><i class="fab fa-facebook text-light"></i> Facebook</a>  <br>
            <a href="https://www.instagram.com/" class="text-light"><i class="fab fa-instagram text-light"></i> Instagram</a>  <br>
            <a href="https://www.youtube.com/" class="text-light"><i class="fab fa-youtube text-light"></i> Youtube</a>  <br>
        </span>
    </li>
    <li class="section__facts-item section__facts-item--clickable" data-gallery="gallery1">
        <div class="section__facts-img">
            <img src="images/photos/pomsky-1.jpg" alt="Some image"/>
            <svg class="icon icon--grid"><use xlink:href="#icon-grid"></use></svg>
        </div>
        <h3 class="section__facts-title text-secondary">Plus de photos</h3>
        <span class="section__facts-detail">Nos Chiens</span>
    </li>
</ul>
<div class="section__gallery" id="gallery1">
    <h3 class="section__gallery-item section__gallery-item--title">Nos chiens</h3>
    <a class="section__gallery-item" href="#"><img src="images/photos/pomsky-1.jpg" alt="Some image"/></a>
    <a class="section__gallery-item" href="#"><img src="images/photos/pomsky-2.jpg" alt="Some image"/></a>
    <a class="section__gallery-item" href="#"><img src="images/photos/pomsky-3.jpg" alt="Some image"/></a>
    <a class="section__gallery-item" href="#"><img src="images/photos/pomsky-4.jpg" alt="Some image"/></a>
    <a class="section__gallery-item" href="#"><img src="images/photos/pomsky-5.jpg" alt="Some image"/></a>
    <a class="section__gallery-item" href="#"><img src="images/photos/pomsky-6.jpg" alt="Some image"/></a>
</div>
