<ul class="menu__inner">
    <li class="menu__item"><a class="menu__item-link" href="{{path('elevage')}}">Notre Élevage</a></li>
    <li class="menu__item"><a class="menu__item-link" href="{{path('animal')}}">Nos Chiens</a></li>
    {% if app.user %}
        <li class="menu__item"><a class="menu__item-link" href="{{path('annonce')}}">Nos Annonces</a></li>
    {% endif %}
    <li class="menu__item"><a class="menu__item-link" href="{{path('livre_or')}}">Livre d'or</a></li>
    {% if not app.user %} 
        <li class="menu__item"><a class="menu__item-link" href="{{path('security_registration')}}">Inscription</a></li>
        <li class="menu__item">
            <a class="menu__item-link" href="{{path('security_login')}}">Connexion</a><br>
            <i class="text-light astuce">Vous devez être connecté pour accéder aux annonces</i>
        </li>
    {% else %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="menu__item"><a class="menu__item-link" href="{{path('admin')}}">Back office</a></li>
        {% else %}
            <li class="menu__item"><a class="menu__item-link" href="{{path('user_show',{'id':app.user.id})}}">{{app.user.userfirstname}} {{app.user.username}}</a></li>
        {% endif %}
        <li class="menu__item"><a class="menu__item-link" href="{{path('security_logout')}}">Déconnexion</a></li>
    {% endif %}                    
</ul>
<div class="menu__toggle {% if nav %} menu__toggle-nav {% endif %}">
    <span class="menu__toggle-inner menu__toggle-inner--open">
        <svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
    </span>
    <span class="menu__toggle-inner menu__toggle-inner--close">
        <svg class="icon icon--close"><use xlink:href="#icon-close"></use></svg>
    </span>
</div>