<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ absolute_url('css/bootstrap.min.css')}}"> 
        <link rel="stylesheet" type="text/css" href="{{ absolute_url('css/jquery.jscrollpane.custom.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ absolute_url('css/bookblock.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ absolute_url('css/custom.css') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
