{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div class="sections">
            <header class="sections__header">
                <h1 class="title"><a href="{{path('home')}}">Les Loups du Nord</a></h1>
            </header>
            <!-- menu -->
            <nav class="menu">
                {% include '_menu.html.twig' with { 'nav' : false } %}
            </nav>
            <!-- facts expander with toggles; content for each is in its section -->
            <div class="facts">
                <div class="facts__toggle">
                    <span class="facts__toggle-inner facts__toggle-inner--more">
                        <svg class="icon icon--dot"><use xlink:href="#icon-dot"></use></svg>
                        <span class="facts__toggle-text">Voir plus</span>
                    </span>
                    <span class="facts__toggle-inner facts__toggle-inner--less">
                        <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
                        <span class="facts__toggle-text">Voir moins</span>
                    </span>
                </div>
                <button class="button-contentclose">
                    <svg class="icon icon--close"><use xlink:href="#icon-close"></use></svg>
                </button>
            </div>
        <section class="section section-layout section--current">
            <div class="section__content">
                <h2 class="section__title">{% block titre %}{% endblock %}</h2>
                <p class="section__description"><span class="section__description-inner">
                
                {% block contenu %}{% endblock %}
                
                </span></p>
            </div>
            <div class="section__img">
                {% block image %}{% endblock %}
            </div>
            {% include '_expander.html.twig' with { 'params' : 'nos chiens' , 'bg' : '1', 'path' : 'animal'} %}
        </section>
    </div><!--/ sections -->
</main>
{% endblock %}