{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div class="sections sections-nav-index">
            <header class="sections__header">
                <h1 class="title"><a href="{{path('home')}}">Les Loups du Nord</a></h1>
            </header>
            <!-- menu -->
            <nav class="menu menu-nav">
                {% include '_menu.html.twig' with { 'nav' : true } %}
            </nav>
        </div>
    </main>
{% block contenu %}{% endblock %}
{% endblock %}