{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'navbar.html.twig' %}
{% block title %}Erreur{% endblock %}
{% block titre %}<h1>Erreur</h1>{% endblock %}
{% block contenu %}
    <h3 class="text-center pt-4">ERREUR 404 - page non trouvée</h3>
	<div class="text-center"  > 
        <img class="img-responsive" src="/images/404.jpg">    
    </div>
    <h2 class="title"><a href="{{path('home')}}">Retourner sur le site : Les Loups du Nord</a></h2>
{% endblock %}
