{{ form_start(form) }}
{{ form_row( form.email, { 'attr':{ 'placeholder':"Votre email" }, 'label':'Email' } ) }} 
{% if is_granted('ROLE_ADMIN') %}
    {{ form_row( form.roles, { 'label':'Rôles' } ) }} 
{% endif %}
{{ form_row( form.username, { 'attr':{ 'placeholder':"Votre nom" }, 'label':'Nom' } ) }} 
{% if is_granted('ROLE_ADMIN') %}
    {{ form_row( form.code, { 'label':'Code' } ) }}
{% endif %}
{{ form_row( form.adresse, { 'attr':{ 'placeholder':"Votre adresse" }, 'label':'Adresse' } ) }} 
{{ form_row( form.bornAt, {'label':'Date de naissance' } ) }} 
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_row(form.fichierphoto, {  'label':'Photo' } ) }}
<img class="img img-responsive" width="50%" src="/images/photos/{{user.photo}}"  alt="" onerror="this.src='/images/inconnu.png';">
{{ form_end(form) }}
