{% extends "navbar.html.twig" %}

{% block title %}Mon Compte{% endblock %}

{% block titre %}<h1>Mon Compte</h1>{% endblock %}

{% block contenu %}
<div class="container">
    <h1>Mon compte</h1>
    <i class="fas fa-long-arrow-alt-left"></i>&nbsp;<a href="{{path('user_show', {'id' : user.id})}}"><i>Annuler et revenir sur mon compte</i></a> 

    {{form_start(form)}}
        <div class="row pt-4">
            <div class="col-4">
                {{ form_row( form.username, { 'attr':{ 'placeholder':"Saisie nom d'utilisateur" }, 'label':'Nom' } ) }} 
            </div>
            <div class="col-4">
                {{ form_row( form.userfirstname, { 'attr':{ 'placeholder':"Saisie prénom d'utilisateur" }, 'label':'Prénom' } ) }} 
            </div>
            <div class="col-4">
                {{ form_row( form.bornAt, { 'label':'Date de naissance' } ) }} 
            </div>
        </div>
        <div class="row pt-3">
        <div class="col-4">
                {{ form_row( form.fichierphoto, {'label':'Ajouter une photo' } ) }} 
            </div>
            <div class="col-4">
                {{ form_row( form.email, { 'attr':{ 'placeholder':"Saisie Email" }, 'label':'Email' } ) }} 
            </div>
            <div class="col-4">
                {{ form_row( form.numero, { 'attr':{ 'placeholder':"Saisie Téléphone" }, 'label':'Téléphone' } ) }} 
            </div>
        </div>
        <div class="row pt-3">
            <label for="">Adresse :</label>
            <div class="col-6">
                {{ form_row( form.rue, { 'attr':{ 'placeholder':"Rue" }, 'label':'Saisie rue' } ) }} 
            </div>
            <div class="col-3">
                {{ form_row( form.codePostal, { 'attr':{ 'placeholder':"Saisie code postal" }, 'label':'Code postal' } ) }} 
            </div>
            <div class="col-3">
                {{ form_row( form.ville, { 'attr':{ 'placeholder':"Saisie ville" }, 'label':'Ville' } ) }} 
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Modifier !</button>
            </div>
        </div>
    {{form_end(form)}}
{% endblock %}

