{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste Utilisateurs</h1>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Code</th>
                <th>Adresse</th>
                <th>Date naissance</th>
                <th>photos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.code }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.bornAt ? user.bornAt|date('d/m/Y') : '' }}</td>
                <td><img class="img img-responsive" width="100%" src="/images/photos/{{user.photo}}?id=2"  alt="" onerror="this.src='/images/inconnu.png';"></td>
                <td>
                    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                    <br><br>
                    <a class="btn btn-primary"  href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_XXXXXX") %}
        <a class="btn btn-primary" href="{{ path('user_new') }}">Nouveau</a>
    {% endif %}

    {% endblock %}
