{% extends 'base.html.twig' %}

{% block title %}Création utilisateur{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_index') }}">Liste utilisateur</a>
{% endblock %}
