{% extends "navbar.html.twig" %}

{% block title %}Mon Compte{% endblock %}

{% block titre %}<h1>Mon Compte</h1>{% endblock %}

{% block contenu %}
<div class="container">
    <h1>Mon compte</h1>
</div>
<div class="container pt-4">
    <div class="row product">
        <div class="col-sm-12 col-md-4">
            <div class="product-gallery">
                <div class="product-image-custom">
                    {% if user.photo %}
                        <img class="active img" alt="photo de profil" src="/images/user/{{user.photo}}">
                    {% else %}
                        <img class="active img" alt="photo de profil" src="/images/inconnu.png">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <h1>Bienvenue sur votre Profil {{ user.userfirstname }} {{ user.username }}</h1>
            <h2></h2>
            <div class="description">
                    <h2>Détail Personnel</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Né.e le : </strong>{{user.bornAt|date('d/m/Y')}}</li>
                        <li class="list-group-item"><strong>Email : </strong>{{user.email}}</li>
                        <li class="list-group-item"><strong>Téléphone : </strong>{{user.numero}}</li>
                        <li class="list-group-item"><strong>Rue : </strong>{{user.rue}}</li>
                        <li class="list-group-item"><strong>Code postal : </strong>{{user.codePostal}}</li>
                        <li class="list-group-item"><strong>Ville : </strong>{{user.ville}}</li>
                    </ul>
            </div>
            <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes informations</a>
            <br>
            <br>
            {% if user is same as(app.user) %} 
                <a class="fst-italic" href="{{path('user_mdpreinit',{'id':user.id}) }}">
                    Réinitialiser mon Mot De Passe
                </a>
                <br>
                <br>
                {{ include('user/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
